.input-field {
    border: 1px solid var(--input-border-color);
    min-height: 36px;
    font-size: 14px;
    line-height: normal;
    border-radius: 4px;
    padding: 0 8px;
    color: var(--input-color);
    font-weight: 300;
}