:root {
    --color-primary: #f3123c;
    --color-secondary: #e99f4e;
    --gray-color: #2e2e37;
    --lighter-gray-color: #eff2f6;
    --light-gray-color: #94949e;
    --dark-gray-color: #444;
    --input-border-color: #cccccc;
    --input-color: #808080;
  }